<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO List</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="container" ng-controller="TodoController as $ctrl">
        <h1>TODO List</h1>
        <p>A place to store the things you have to do!</p>

        <input class="reg-input" type="text" ng-model="$ctrl.filterList" placeholder="Filter your to-dos">
        <section>
            <ol>

                <li ng-Class="{
                    'completed': todo.completed === true}" 
                    ng-repeat="todo in $ctrl.todoList | filter: $ctrl.filterList track by $index">
                        
                    <!-- button only shows for incompleted class -->
                    <button 
                        class="complete-btn" 
                        ng-if="todo.completed != true" 
                        ng-click="$ctrl.addClassCompleted($ctrl.todoList.indexOf(todo));">Complete</button>
                        
                    <!-- task show from completed classes -->
                    <span  
                        ng-if="todo.completed != false">{{todo.todo}}</span>

                    <!-- edit input field for incompleted items -->
                    <input 
                        class="incomplete" 
                        type="text" 
                        ng-model="todo.todo"
                        ng-blur="$ctrl.editTask($ctrl.todoList.indexOf(todo), todo.todo)"
                        ng-if="todo.completed != true" 
                        placeholder="{{todo.todo}}">

                    <i ng-click="$ctrl.removeTodo($ctrl.todoList.indexOf(todo));" class="fas fa-times"></i>
                </li>
            </ol>
        </section>

        <form ng-submit="$ctrl.addTodo($ctrl.todo);">
            <input class="reg-input" type="text" ng-model="$ctrl.todo" placeholder="Add your to-do">
            <button class="add">Add</button>
        </form>
    </section>

    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
</body>

</html>